{% extends 'base.html' %}


{% block content %}
<h1 id="titulo">{% block title %} Gestor de Manutenção de Hardware {% endblock %}</h1>
{% for post in posts %}
<a href="{{ url_for('post', post_id=post['id']) }}">
    <h2>{{post['id']}}- {{ post['title'] }} </h2>
</a>
<label for="">Departamento: <span class="badge badge-primary">{{post['departamentos']}}</span></label>
<br>
<label >Status: <span class="{{post['Status']}}">{{post['Status']}}</span></label>
<br>
<span class="badge badge-info">{{ post['created'] }}</span>
<a href="{{ url_for('edit', id=post['id']) }}">
    <span class="badge badge-secondary">Editar</span>
</a>
<hr>

{% endfor %}
{% endblock %}
</div>