{% extends 'base.html' %}

{% block content %}
<div class="manual">
    <h1>Manual Basico</h1>
    <br>
    <h2>Criação de Ticket</h2>
    <p>Para criar um ticket voce deve clicar no botão novo ticket que irá te direcionar para uma nova tela onde você
        deve colocar as informações e depois clicar no botao salvar.</p>
    <img id="novoticket" src="/static/images/criaçao.png" alt="">
    <br>
    <br>
    <br>
    <br>
    <h2>Edição de Ticket</h2>
    <p>Para editar um ticket voce deve clicar no botão editar que fica na tela inicial do sistema que irá te direcionar
        para uma nova tela onde você
        deve colocar as informações e depois clicar no botao salvar.
        Você tambem tem a opção de deletar um Ticket caso queira.
    </p>
    <img  src="/static/images/editar.png" alt="">
    <br>
    <br>
    <img id="edite" src="/static/images/editar 2.png" alt="">
    <br>
    <br>
    <br>
    <br>
    <h2>Pesquisa de Ticket</h2>
    <p>Na pesquisa de um ticket é possivel encontra-lo pelo codigo, nome, departamento e status. Sempre deve ser escrito
        da forma correta para funcionar
    </p>
    <br>
    <br>
    <br>
    <br>
    

</div>
{% endblock %}